*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	color: #f8f8f2;
	font-size: 18px;
	margin-left: 10px;
	list-style: none;
	margin-top: 10px;
}
body{
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #282a36;
	font-family: 'Source Sans 3', sans-serif;
}
html{
	margin: 0;
	height: 100%;
	width: 100%;
}
a{
	text-decoration: none;
	color: inherit;
}
main {
	flex: 1;
}
.wrapper {
	width: 100%;
	font-family: 'Source Sans 3', sans-serif;
	background-color: #282a36;
}
.Overskrift{
	text-align: center;
	color: #ff79c6;
	margin: 10px;
}
.nav{
	background-color: #44475a;
	width: 100%;
	height: 35px;
}
.navcontent{
	list-style: none;
	display: flex;
	align-items: center;
	gap: 20px;
	color: #f8f8f2;
	padding: 0 10px;
	padding-top: 5px;
	margin: 0;
	width: 100%;
}
.Logo{
	height: 25px;
	float: right;
	margin-top: -25px;
}
p{
	color: #f8f8f2;
	font-size: 18px;
	margin-left: 10px;
}
h2{
	margin-left: 10px;
	color: #f8f8f2;
}
hr{
	margin-bottom: 10px;
}
.DownloadBTN{
	color: #50FA7B;
	font-weight: bold;
	font-size: 18px;
	background-color: #44475A;
	width: 99%;
	margin-top: 10px;
	margin-left: 10px;
}
.DownloadBTN:hover{
	background-color: #6272A4;
	cursor: pointer;
}
.Overview_TobbeOS{
	width: 50%;
	height: 65%;
	margin-top: 10px;
	margin-left: 10px;
}
.Overview_TobbeOS:hover{
	cursor: pointer;
}
#Image_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#Image_overlay.hidden {
  display: none;
}
#Image_overlay img {
  max-width: 95%;
  max-height: 90%;
  border: 2px solid #fff;
  border-radius: 8px;
}
#close_overlay {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
footer{
	position: fixed;
	bottom: 0;
	justify-content: center;
	display: flex;
	margin-top: auto;
	background-color: #44475a;
	width: 100%;
	align-items: center;
	height: 25px;
}
